<h1 class="mt-5">Agregar producto</h1>
<hr>
<form [formGroup]="formulario">
    <div class="row mb-3">
        <div class="col">
            <label class="col-form-label ms-3">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Gerson Benito">
            <span
                error-msg
                [valid]="tieneError('nombre')"
            >
            </span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-info">Guardar</button>
        </div>
    </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>value: {{formulario.value | json}}</pre>
<pre>valid: {{formulario.valid}}</pre>

<div class="row mt-5" *ngIf="tieneError('nombre')">

</div>